body{
    margin: 0;
    padding: 0;
}
body>header{
    margin: 0;
    padding: 0;
    height: 294px;
    width: 1578px;
    /*block-size: 100% 100%;*/

}
div.text1{
    padding-left: 613px;
    padding-top: 126px;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold, OpenSans-Light, MyriadPro-Regular, AdobeInvisFont';
    font-size: 17px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    display: inline-block;
}
div.text2{
    font-family: 'Lato-Regular, OpenSans-Light, MyriadPro-Regular, AdobeInvisFont';
    font-size: 16px;
    color: rgba(77, 73, 67, 255);
    text-align: center;
    padding-left: 393px;
    padding-top: 51px;
    width: 768px;
}
section{
    display: grid;
    grid-template-columns: 270px 270px 570px;
    grid-template-rows: 148px;
    grid-column-gap: 30px;
    padding-left: 193px;
    grid-row-gap:30px;
}
#form1{
    background-image: url('./image/1.png');
    background-repeat: no-repeat;
    height: 148px;
}
#form2{
background-image: url('./image/2.png');
background-repeat: no-repeat;
height: 148px;
}
.grid{
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
#form5{
height: 51px;
width: 176px;
padding-left: 0px;
padding-top: 50px;
}
div.grid input{
    height: 51px;
    width: 176px;
    background-color: #f1ad1d;
 
}
section header{
    font-family: 'Montserrat-Bold, OpenSans-Light, MyriadPro-Regular, AdobeInvisFont';
    font-size: 18px;
    text-transform: uppercase;
    color: black;
    text-align: left;
    padding-bottom: 5px;
font-weight:bold;

}
section span {
    color: #f1ad1d;
}
form {
height: 42px;
width: 117px;
padding-left: 13px;
padding-top: 95px;
}
input{
    height: 42px;
    width: 117px;
    color: white;background-color: #333333;
}

#form3{
background-image: url('./image/3.png');
background-repeat: no-repeat;
height: 148px;
}
#form4{
background-image: url('./image/4.png');
background-repeat: no-repeat;
height: 148px;
}